.divea-lism-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.divea-lism-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.divea-lism-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.divea-lism-image {
  width: 200px;
  display: none;
  object-fit: cover;
}
.divea-lism-container01 {
  top: 38px;
  left: 262px;
  width: 38px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.divea-lism-container02 {
  top: -22px;
  left: -163px;
  width: 65px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.divea-lism-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.divea-lism-icon {
  width: 36px;
  height: 36px;
}
.divea-lism-container03 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.divea-lism-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.divea-lism-image1 {
  width: 433px;
  height: 61px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.divea-lism-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.divea-lism-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.divea-lism-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.divea-lism-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.divea-lism-link02 {
  text-decoration: none;
}
.divea-lism-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.divea-lism-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.divea-lism-image2 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.divea-lism-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.divea-lism-icon2 {
  width: 24px;
  height: 24px;
}
.divea-lism-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.divea-lism-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.divea-lism-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.divea-lism-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.divea-lism-link06 {
  text-decoration: none;
}
.divea-lism-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.divea-lism-container06 {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divea-lism-team {
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 35%),url("public/team/devlimeicon-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.divea-lism-container07 {
  flex: 0 0 auto;
  width: auto;
  height: 56px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.divea-lism-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: rgba(0,160,0,0.5);
}
.divea-lism-image3 {
  width: 43px;
  height: 43px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.divea-lism-container08 {
  flex: 0 0 auto;
  width: auto;
  height: 56px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.divea-lism-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-text01 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-heading-container {
  width: 45%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-end;
}
.divea-lism-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divea-lism-text07 {
  width: 75vw;
}
.divea-lism-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divea-lism-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divea-lism-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divea-lism-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divea-lism-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.divea-lism-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divea-lism-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divea-lism-link07 {
  color: #0645ad;
  font-style: normal;
  font-weight: 700;
}
.divea-lism-container17 {
  flex: 0 0 auto;
  width: auto;
  height: 373px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.divea-lism-cards-container {
  width: 64px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.divea-lism-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 245px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divea-lism-services {
  width: 100%;
  height: 579px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.divea-lism-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.divea-lism-text20 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-text21 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.divea-lism-cards-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.divea-lism-service-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.divea-lism-text22 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-text23 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-service-card1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.divea-lism-text24 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-text25 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-service-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.divea-lism-text26 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-text27 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.divea-lism-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.divea-lism-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.divea-lism-get-in-touch {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.divea-lism-text28 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-content-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.divea-lism-form-container {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.divea-lism-heading {
  margin-bottom: var(--dl-space-space-fourunits);
}
.divea-lism-name {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.divea-lism-email {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.divea-lism-message {
  width: 100%;
  border: none;
  height: 140px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.divea-lism-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.divea-lism-locations-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.divea-lism-location-1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.divea-lism-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.divea-lism-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.divea-lism-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.divea-lism-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.divea-lism-footer-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.divea-lism-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.divea-lism-container19 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.divea-lism-pasted-image {
  width: 24px;
  height: 24px;
}
.divea-lism-pasted-image1 {
  top: 27px;
  left: 77px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.divea-lism-copyright-container {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.divea-lism-icon6 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1200px) {
  .divea-lism-image {
    display: none;
  }
  .divea-lism-team {
    height: 826px;
    align-items: center;
    justify-content: center;
  }
  .divea-lism-icon-container {
    margin-right: 0px;
  }
  .divea-lism-image3 {
    flex: 1;
    width: 43px;
    height: 43px;
    border-radius: var(--dl-radius-radius-round);
  }
  .divea-lism-text {
    height: 56px;
    margin-bottom: 0px;
  }
  .divea-lism-link07 {
    text-decoration: inherit;
  }
  .divea-lism-text14 {
    text-decoration: inherit;
  }
  .divea-lism-cards-container {
    width: 55px;
    height: 38px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .divea-lism-container18 {
    width: auto;
    height: auto;
  }
  .divea-lism-services {
    height: 476px;
    align-items: center;
    justify-content: center;
  }
  .divea-lism-get-in-touch {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .divea-lism-text28 {
    align-self: center;
  }
  .divea-lism-form-container {
    box-shadow: 5px 0px 10px 0px #d4d4d4;
  }
  .divea-lism-footer {
    position: relative;
  }
  .divea-lism-pasted-image {
    top: 26px;
    left: 25px;
    width: 50px;
    height: 32px;
    position: absolute;
    align-self: center;
  }
  .divea-lism-pasted-image1 {
    top: 26px;
    left: 97px;
    width: 32px;
    height: 32px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .divea-lism-image1 {
    width: 336px;
    height: 46px;
  }
  .divea-lism-team {
    height: 800px;
  }
  .divea-lism-container09 {
    width: 991px;
    margin-left: 0px;
  }
  .divea-lism-text07 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .divea-lism-container12 {
    width: 100%;
  }
  .divea-lism-container18 {
    margin-left: 0px;
  }
  .divea-lism-form-container {
    width: 60%;
  }
  .divea-lism-locations-container {
    flex-wrap: wrap;
  }
  .divea-lism-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .divea-lism-footer {
    height: 133px;
  }
  .divea-lism-pasted-image {
    top: 25px;
    left: 40px;
  }
  .divea-lism-pasted-image1 {
    top: 65px;
    left: 45px;
    width: 39px;
    height: 42px;
  }
  .divea-lism-copyright-container {
    width: 649px;
  }
}
@media(max-width: 767px) {
  .divea-lism-navbar {
    position: relative;
  }
  .divea-lism-image {
    width: 66px;
    height: 62px;
    display: flex;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .divea-lism-burger-menu {
    top: 0px;
    left: 0px;
    width: 63px;
    height: 60px;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    position: absolute;
    padding-left: 4px;
    background-color: var(--dl-color-gray-black);
  }
  .divea-lism-icon {
    top: 3px;
    fill: var(--dl-color-gray-white);
    left: 7px;
    width: 49px;
    height: 54px;
    position: absolute;
    padding-right: 0px;
  }
  .divea-lism-image1 {
    display: none;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .divea-lism-links-container {
    display: none;
  }
  .divea-lism-team {
    width: 100%;
    height: 897px;
  }
  .divea-lism-image3 {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .divea-lism-heading-container {
    width: 100%;
  }
  .divea-lism-container09 {
    width: 767px;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: 0px;
  }
  .divea-lism-container10 {
    width: 767px;
  }
  .divea-lism-container12 {
    width: 767px;
    margin-left: 0px;
  }
  .divea-lism-services {
    height: 905px;
  }
  .divea-lism-heading-container1 {
    width: 100%;
  }
  .divea-lism-cards-container1 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .divea-lism-service-card {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .divea-lism-service-card1 {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .divea-lism-service-card2 {
    width: 65%;
  }
  .divea-lism-content-container {
    width: 100%;
    flex-direction: column;
  }
  .divea-lism-form-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .divea-lism-locations-container {
    flex-direction: row;
    justify-content: center;
  }
  .divea-lism-footer {
    height: 207px;
  }
  .divea-lism-copyright-container {
    width: 377px;
  }
  .divea-lism-icon6 {
    width: 68px;
    height: 46px;
  }
}
@media(max-width: 479px) {
  .divea-lism-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .divea-lism-container06 {
    position: relative;
  }
  .divea-lism-team {
    height: 1110px;
    padding-top: var(--dl-space-space-fiveunits);
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .divea-lism-text {
    top: 54px;
    left: 0px;
    right: 0px;
    height: 119px;
    margin: auto;
    position: absolute;
    text-align: center;
    padding-bottom: 0px;
  }
  .divea-lism-text01 {
    top: 54px;
    left: 0px;
    right: 0px;
    height: 80px;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .divea-lism-text03 {
    margin-top: var(--dl-space-space-tenunits);
  }
  .divea-lism-heading-container {
    top: 216px;
    left: 0px;
    margin: auto;
    position: absolute;
  }
  .divea-lism-container09 {
    height: 371px;
    text-align: center;
    align-items: center;
    margin-left: 0px;
    justify-content: center;
  }
  .divea-lism-text07 {
    width: 50%;
  }
  .divea-lism-container11 {
    align-items: center;
  }
  .divea-lism-container12 {
    align-items: center;
  }
  .divea-lism-text12 {
    width: 311px;
  }
  .divea-lism-text16 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .divea-lism-container18 {
    align-items: center;
  }
  .divea-lism-services {
    height: 1074px;
    padding-top: 500px;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .divea-lism-service-card {
    width: 100%;
  }
  .divea-lism-service-card1 {
    width: 100%;
  }
  .divea-lism-service-card2 {
    width: 100%;
  }
  .divea-lism-get-in-touch {
    padding-top: 175px;
  }
  .divea-lism-content-container {
    padding-left: 0px;
  }
  .divea-lism-form-container {
    padding: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .divea-lism-heading {
    text-align: center;
  }
  .divea-lism-location-1 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .divea-lism-pasted-image {
    top: 40px;
    left: 20px;
  }
  .divea-lism-pasted-image1 {
    top: 80px;
    left: 26px;
  }
  .divea-lism-copyright-container {
    width: 302px;
    height: 132px;
    margin-left: 0px;
    padding-left: 35px;
  }
  .divea-lism-icon6 {
    width: 80px;
    height: 39px;
  }
}
