.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-image {
  width: 200px;
  display: none;
  object-fit: cover;
}
.home-container01 {
  top: 38px;
  left: 262px;
  width: 38px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container02 {
  top: -22px;
  left: -163px;
  width: 65px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-container03 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image1 {
  width: 433px;
  height: 61px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link02 {
  text-decoration: none;
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image2 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  text-decoration: none;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-hero {
  width: 100%;
  height: 445px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/unsplash-image-1500w.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-hero-text {
  width: 1319px;
  height: 315px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 107px;
  background-color: #D9D9D9;
}
.home-heading {
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-text02 {
  color: var(--dl-color-gray-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-text11 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  line-height: 5;
  text-transform: capitalize;
}
.home-container06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-team {
  width: 100%;
  height: 725px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-text13 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-heading-container {
  width: 45%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-end;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-team-card {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  flex: 1;
  width: 139px;
  height: 63px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  padding-right: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(45, 224, 201, 0.52);
}
.home-image3 {
  flex: 1;
  width: 47px;
  height: 53px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text14 {
  font-style: normal;
}
.home-text15 {
  font-weight: 600;
}
.home-text16 {
  color: var(--dl-color-gray-700);
  font-size: 18px;
  text-align: left;
}
.home-text17 {
  font-size: 18px;
}
.home-text18 {
  font-size: 18px;
}
.home-team-card1 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: #EEEEEE;
}
.home-image4 {
  width: 43px;
  height: 43px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  width: auto;
  height: 38px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-heading2 {
  font-size: 24px;
  font-style: normal;
  font-family: Raleway;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text21 {
  font-size: 15px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text22 {
  color: var(--dl-color-gray-black);
  font-size: 15px;
  font-weight: 600;
}
.home-text23 {
  color: var(--dl-color-gray-700);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text24 {
  font-size: 18px;
}
.home-text25 {
  font-size: 16px;
}
.home-team-card2 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: rgba(0,160,0,0.5);
}
.home-image5 {
  width: 43px;
  height: 43px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container13 {
  flex: 0 0 auto;
  width: 107px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text28 {
  color: var(--dl-color-gray-black);
  font-size: 15px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text29 {
  color: var(--dl-color-gray-black);
  font-size: 15px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text31 {
  color: var(--dl-color-gray-700);
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text32 {
  font-size: 18px;
}
.home-team-card3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container3 {
  flex: 1;
  width: 139px;
  height: 63px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  padding-right: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: #2cc9bc;
}
.home-image6 {
  flex: 1;
  width: 47px;
  height: 53px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.home-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text34 {
  color: var(--dl-color-gray-700);
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text36 {
  color: var(--dl-color-gray-700);
  font-size: 18px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-team-card4 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #56b997;
}
.home-image7 {
  flex: 1;
  width: 43px;
  height: 97px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text38 {
  color: var(--dl-color-gray-700);
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text40 {
  color: var(--dl-color-gray-700);
  font-size: 18px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-features-card {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-icon04 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.home-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading6 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text42 {
  color: var(--dl-color-gray-700);
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-services {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text43 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text44 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-cards-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text45 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text46 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text47 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text48 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text49 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text50 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-get-in-touch {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-text51 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-content-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-form-container {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.home-heading7 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-name {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-email {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-message {
  width: 100%;
  border: none;
  height: 140px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-locations-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-location-1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-heading8 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home-icon07 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-container16 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-pasted-image {
  width: 24px;
  height: 24px;
}
.home-pasted-image1 {
  top: 27px;
  left: 77px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-copyright-container {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.home-icon09 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1200px) {
  .home-image {
    display: none;
  }
  .home-hero {
    justify-content: flex-start;
  }
  .home-hero-text {
    height: 100%;
    background-color: transparent;
  }
  .home-text02 {
    color: var(--dl-color-gray-700);
    padding: var(--dl-space-space-doubleunit);
    box-shadow: 0px 0px 10px 0px #d4d4d4;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #D9D9D9;
  }
  .home-text11 {
    color: #000000;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    line-height: 5;
    text-transform: capitalize;
  }
  .home-team {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .home-icon-container {
    width: auto;
    height: auto;
  }
  .home-image3 {
    width: 43px;
    height: 43px;
  }
  .home-icon-container1 {
    padding-top: 8px;
  }
  .home-text23 {
    color: var(--dl-color-gray-700);
  }
  .home-team-card2 {
    align-items: flex-start;
  }
  .home-image5 {
    flex: 1;
    width: 43px;
    height: 43px;
    border-radius: var(--dl-radius-radius-round);
  }
  .home-image6 {
    width: 43px;
    height: 43px;
  }
  .home-services {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .home-get-in-touch {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .home-text51 {
    align-self: center;
  }
  .home-form-container {
    box-shadow: 5px 0px 10px 0px #d4d4d4;
  }
  .home-footer {
    position: relative;
  }
  .home-pasted-image {
    top: 26px;
    left: 25px;
    width: 50px;
    height: 32px;
    position: absolute;
    align-self: center;
  }
  .home-pasted-image1 {
    top: 26px;
    left: 97px;
    width: 32px;
    height: 32px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .home-image1 {
    width: 336px;
    height: 46px;
  }
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-hero-text {
    width: 80%;
  }
  .home-form-container {
    width: 60%;
  }
  .home-locations-container {
    flex-wrap: wrap;
  }
  .home-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-footer {
    height: 133px;
  }
  .home-pasted-image {
    top: 25px;
    left: 40px;
  }
  .home-pasted-image1 {
    top: 65px;
    left: 45px;
    width: 39px;
    height: 42px;
  }
  .home-copyright-container {
    width: 649px;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-image {
    width: 66px;
    height: 62px;
    display: flex;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-burger-menu {
    top: 0px;
    left: 0px;
    width: 63px;
    height: 60px;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    position: absolute;
    padding-left: 4px;
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    top: 3px;
    fill: var(--dl-color-gray-white);
    left: 7px;
    width: 49px;
    height: 54px;
    position: absolute;
    padding-right: 0px;
  }
  .home-image1 {
    display: none;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .home-links-container {
    display: none;
  }
  .home-hero-text {
    height: 435px;
    position: relative;
  }
  .home-text02 {
    top: 130px;
    left: -3px;
    color: var(--dl-color-gray-700);
    padding: var(--dl-space-space-doubleunit);
    position: absolute;
    background-color: rgb(217, 217, 217);
  }
  .home-text11 {
    color: #000000;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    line-height: inherit;
    text-transform: capitalize;
  }
  .home-team {
    width: 100%;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-team-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-icon-container {
    width: 25%;
    height: 25%;
  }
  .home-team-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-team-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-image5 {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .home-team-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-icon-container3 {
    width: 25%;
    height: 25%;
  }
  .home-team-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-services {
    height: 905px;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container1 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-service-card {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card1 {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card2 {
    width: 65%;
  }
  .home-content-container {
    width: 100%;
    flex-direction: column;
  }
  .home-form-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-locations-container {
    flex-direction: row;
    justify-content: center;
  }
  .home-footer {
    height: 207px;
  }
  .home-copyright-container {
    width: 377px;
  }
  .home-icon09 {
    width: 68px;
    height: 46px;
  }
}
@media(max-width: 479px) {
  .home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero {
    height: 507px;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-hero-text {
    width: 100%;
  }
  .home-container06 {
    position: relative;
  }
  .home-team {
    height: 3119px;
    padding-top: var(--dl-space-space-fiveunits);
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-text13 {
    top: 54px;
    left: 0px;
    right: 0px;
    height: 80px;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .home-heading-container {
    top: 186px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .home-team-card {
    width: 100%;
  }
  .home-icon-container {
    width: 65px;
    height: 61px;
  }
  .home-team-card1 {
    width: 100%;
  }
  .home-team-card2 {
    width: 100%;
  }
  .home-team-card3 {
    width: 100%;
  }
  .home-icon-container3 {
    width: auto;
    height: auto;
  }
  .home-team-card4 {
    width: 100%;
  }
  .home-features-card {
    width: 100%;
  }
  .home-services {
    height: 1244px;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-service-card {
    width: 100%;
  }
  .home-service-card1 {
    width: 100%;
  }
  .home-service-card2 {
    width: 100%;
  }
  .home-content-container {
    padding-left: 0px;
  }
  .home-form-container {
    padding: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .home-heading7 {
    text-align: center;
  }
  .home-location-1 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-pasted-image {
    top: 40px;
    left: 20px;
  }
  .home-pasted-image1 {
    top: 80px;
    left: 26px;
  }
  .home-copyright-container {
    width: 302px;
    height: 132px;
    margin-left: 0px;
    padding-left: 35px;
  }
  .home-icon09 {
    width: 80px;
    height: 39px;
  }
}
